@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .animate-hamburger-block-open:nth-child(1) {
        transform: translateY(12px) rotate(-45deg);
    }

    .animate-hamburger-block-open:nth-child(2) {
        transform: translateY(1px) rotate(45deg);
    }

    .animate-hamburger-block-open:nth-child(3) {
        transform: translateY(-9px) rotate(45deg);
    }
}
